*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 70%;
    margin: 5% 0 3% 15%;
    text-align: center;
    border: 1px solid black;
}

.form {
    margin: 5%;
    padding: 5% 5% 10% 5%;
    border: 1px solid black;
}

.form input {
    padding: 0 3% 0 3%;
    height: 70px;
    width: 80%;
}

.form button {
    float: right;
    margin: 2% 10% 0 0;
    width: 20%;
    height: 30px;
    font-size: 80%;
}